// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// Using CDN for bootrap and font-awesome

// Your CSS partials
@import "components/index";
@import "pages/index";


// body {
//   font: normal 16px/1.5 "Helvetica Neue", sans-serif;
//   background: black;
//   color: $gray;
//   overflow-x: hidden;
//   padding-bottom: 50px;
// }

.font-bolder {
  font-weight: 500;
  color: #0E0000;
}

.external-link {
  margin-left: 8px;
  opacity: 0;
  color: $normal-gray;
  transition: opacity 1s;
  position: absolute;
  bottom: 8px;
  right: 8px;
  &:hover {
    cursor: pointer;
    color: $gray
  }
}

.name-box {
  position: relative;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
  p {
    font-size: 14px;
  }
}

.name-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    white-space: nowrap;
  }
  time {
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    h1 {
      font-size: 1.5rem;
    }
  }
  .external-link {
    opacity: 1;
  }
}



