<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/dmbf29" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright" style="flex: 0 0 50%;">
    <h6>Some Context</h6>
    I kept hearing and seeing names, who have been victims of police brutality, but actually knew very little of their stories. I built this to educate myself and hope others can find it useful as well. Source of info: <em><%= link_to "aljazeera", 'https://interactive.aljazeera.com/aje/2020/know-their-names/index.html', target: '_blank' %></em>
  </div>
</div>